body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-bottom: 3px solid red;
}
header img{
    max-width: 100px;
    max-height: 100px;
}

.content-container{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    align-items: center;

}

.content-item{
    outline: 1px solid blue;

}

.left-container, .right-container{
    display: flex;
    flex-direction: column;
}
.content-duo{
    display: flex;
}

.itemOne{
    min-height: 850px;
    max-width: 850px;
}


.itemTwo,.itemThree{
    min-height: 450px;
    max-width:425px;
}


.itemFour{
    min-height: 425px;
    max-width: 500px;
}

.itemSix,.itemSeven{
    min-height: 375px;
    max-width: 250px;
}
.itemFive{
    min-height: 500px;
      max-width: 500px;
}